################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ProgramTrading/v15/Server/sqlite3
/Lab1/obj/Debug
/ProgramTrading/bin/Debug
/ProgramTrading/obj/Debug
/.vs/ProgramTrading/v15/.suo
/Lab2/obj/Debug
/Lab3/bin/Debug
/Lab3/obj/Debug
/Lab4/bin/Debug
/Lab4/obj/Debug
/Lab2/bin/Debug
/Lab1/bin/Debug
/Packages
/NLog_Example/bin/Debug
/NLog_Example/obj/Debug
/Lab10/bin/Debug
/Lab10/obj/Debug
/Lab5/bin/Debug
/Lab5/obj/Debug
/Lab6/bin/Debug
/Lab6/obj/Debug
/Lab7/bin/Debug
/Lab7/obj/Debug
/Lab8/bin/Debug
/Lab8/obj/Debug
/Lab9/bin/Debug
/Lab9/obj/Debug
/TradeingUI2/bin/Debug
/TradeingUI2/obj/Debug
/TradingUI/bin/Debug
/TradingUI/obj/Debug
